* { box-sizing: border-box; }

html {
  font-size: 75%;
}
@media screen and (min-height: 800px) {
  html {
    font-size: 100%;
  }
}

body {
  background-color: #2f2c2c;
  color: #f6e8e8;
  font-family: 'Noto Sans JP', sans-serif;
}

button { cursor: pointer; }

#dungeon { position: relative; }
#loot { min-height: 1rem; }

.title {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: .5rem;
  max-width: 448px;
  font-size: .825rem;
  font-weight: 900;
  background-color: #f6e8e8;
  color: #2f2c2c;
}
.main_container {
  border: 10px solid #f6e8e8;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 448px;
  padding: 12px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  max-width: 448px;
  margin: 0 auto;
  background-color: #f6e8e8;
  padding: 10px 10px 0;
}
.toolbar--item {
  position: relative;
  background-color: #2f2c2c;
  display: inline-block;
}
.toolbar--item-disabled {
  opacity: .5;
  cursor: inherit;
}
.toolbar--item + .toolbar--item {
  margin-left: .5rem;
}
.toolbar--item a {
  display: block;
}
.toolbar--item a:active {
  background: #C93900;
  height: 100%;
}
.toolbar--item a.toolbar--item-disabled:active {
  background: #2f2c2c;
}
.toolbar--item_indicator {
  border: 2px solid #2f2c2c;
  height: 16px;
  width: 16px;
  border-radius: 12px;
  display: flex;
  position: absolute;
  z-index: 1000;
  background-color: #f6e8e8;
  text-align: center;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  color: #2f2c2c;
  bottom: -4px;
  right: -4px;
}
.inventory_icon {
  background-color: transparent;
  transition: background-color .125s;
}
.inventory_icon-lit {
  background-color: #C93900;
}
.info_area { flex: 1; }
.info_area-player { margin-bottom: 68px; }
@media screen and (min-width: 800px) {
  .info_area-player { margin-bottom: 88px; }
}
.info_area-enemy { margin-top: 16px; }
.graphics_area { position: relative; height: 168px; }
.sprite { position: absolute; }
.sprite-hero {
  top: -72px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.sprite-attack {
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  z-index: 5;
}
.sprite-enemy {
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
.sprite-background {
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.visually_hidden { display: none; }

.label-large {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.label-center { text-align: center; }
.label-crunch { max-width: 16rem; }
.label-medium {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
.label-small {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: .5rem;
}
.label-mini {
  font-weight: 300;
  font-size: .825rem;
  margin-bottom: .5rem;
}
.bar {
  border: 4px solid #f6e8e8;
  background-color: transparent;
  height: 1.75rem;
  margin-bottom: .25rem;
  position: relative;
}
.bar_filler {
  background-color: #f6e8e8;
  bottom: 0;
  position: absolute;
  top: 0;
  transition: width .125s;
  width: 0;
}
.bar_filler-danger {
  background-color: #C93900;
}
.action_button {
  background-color: #f6e8e8;
  padding: .5rem;
  font-size: 2rem;
  font-weight: 900;
  color: #2f2c2c;
  border: 0;
  box-shadow: none;
  max-width: 408px;
  width: 80%;
  margin: 1rem auto;
  display: block;
}
.action_button:active {
  background-color: #2f2c2c;
  color: #f6e8e8;
}
.action_button:disabled {
  opacity: .25;
}
.action_button-hidden {
  display: none;
}
.action_button-hollow {
  background-color: #2f2c2c;
  border: 4px solid #f6e8e8;
  color: #f6e8e8;
}
.action_button-hollow:active {
  background-color: #f6e8e8;
  border: 4px solid #2f2c2c;
  color: #2f2c2c;
}
.action_button-small {
  padding: .125rem .5rem;
  font-size: .75rem;
  width: auto;
}
.action_button-danger {
  background-color: #300f02;
  color: #f6e8e8;
  border-color: #f6e8e8;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2f2c2c;
  z-index: 1000;
  transform: translateY(100%);
  transition: transform .25s;
}
.modal-visible {
  transform: translateY(0);
}
.modal_top_bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal_top_bar > .toolbar--item {
  margin-left: .75rem;
}
.modal-sub {
  transform: translate(-100%, 0);
}
.modal_inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 448px;
  padding: 1rem;
}
.modal_inner-no_fill {
  display: inherit;
}
#current_location {
  text-align: right;
  margin-top: 1rem;
}
#shop_menu_image,
#area_menu_image {
  margin: 1rem auto 2rem;
  display: block;
}
.modal_top_bar,
#shop_item_gp,
#gp {
  text-align: right;
  margin-top: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 10px solid #f6e8e8;
  padding: 12px;
  overflow-y: auto;
  margin-top: 1rem;
  background-color: #2f2c2c;
}
.container-center {
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}
.container_fill {
  flex: 1;
}
.container_fill-center {
  flex-direction: column;
  display: flex;
  align-items: center;
}
#inventory,
#inventory_detail,
#inventory_slot {
  z-index: 1001;
}
.inventory_category {
  text-align: left;
  background-color: #f6e8e8;
  color: #2f2c2c;
  font-size: 1rem;
  font-weight: 500;
  padding: .25rem;
}
.inventory_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.inventory_list_item > .inventory_item { margin-bottom: 0; }
.inventory_item {
  margin-bottom: 1.5rem;
  display: block;
  color: #f6e8e8;
  text-decoration: none;
}
.inventory_item:hover {
  text-shadow: 2px 2px 2px #C93900;
}
.inventory_item-border {
  border-bottom: 2px solid #f6e8e8;
}
.inventory_item_action {
  margin: 0;
}

.app {
  margin: 0 auto;
  max-width: 458px;
  overflow-x: hidden;
}
@media screen and (min-width: 550px) {
  .app {
    max-width: 550px;
  }
}

.wound {
  position: absolute;
  z-index: 100;
  color: #C93900;
  left: 55%;
  top: -60px;
  transform: translateY(0);
  opacity: 1;
  text-shadow: 2px 2px 2px #2f2c2c;
}
.wound-lit {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform .75s, opacity .75s;
  transition-delay: .125s;
}

.game_menu_background {
  background-image: url(../img/brick-pattern.gif);
  padding: 4rem 2rem;
  height: 500px;
  margin: 0 auto;
  margin-top: 10vh;
}
.game_menu_logo {
  align-self: center;
  margin: .5rem 0;
}

.stat_list {
  text-align: center;
  margin-top: 1rem;
}

.character_image { margin: 0 auto; }
.upgrade_category {
  width: 100%;
  margin: 1.5rem 0 1rem;
}
.upgrade_list {
  text-align: left;
}
.upgrade_list_item {
  margin-bottom: .75rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #f6e8e8;
}

.dialog {
  position: fixed;
  top: 20vh;
  z-index: 10000;
  border: 10px solid #C93900;
  background-color: #300f02;
  width: 90%;
  padding: 2rem 2rem 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .125s;
}
.dialog-visible {
  opacity: 1;
  visibility: visible;
}
.dialog h1 { margin-bottom: 2rem; }
.you_won {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.you_won-hidden {
  display: none;
}
input {
  border: 2px solid #f6e8e8;
  background-color: transparent;
  padding: .5rem;
  color: #f6e8e8;
  font-size: 1rem;
  margin-top: .5rem;
}

.by {
  margin-top: 1rem;
}
.by a {
  color: #f6e8e8;
}

#heal_menu_image {
  margin: 1rem auto 2rem;
}

.mdc-mt-md {
  margin-top: 1rem;
}
.mdc-mt-lg {
  margin-top: 1.5rem;
}
.mdc-mb-md {
  margin-bottom: 1rem;
}

#character_list {
  position: relative;
  z-index: 2000;
}
.character_list_item {
  background-color: rgba(47,44,44,.8);
  padding: .25rem;
  margin-bottom: .5rem;
}
.character_list_item_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.character_list_item_actions div div + div { margin-left: 1rem; }
.character_list_item_actions button {
  margin: .25rem 0;
}

.input { margin: 1rem auto; width: 80%; }
.input_label {
  display: block;
}
.input_control { width: 100%; }

.name_and_level {
  display: flex;
  align-items: flex-end;
}
.name_and_level > * { margin-right: .5rem; }

.upgrade_actions {
  display: flex;
  align-items: center;
  height: 2rem;
}
.upgrade_actions > * { margin-bottom: 0; margin-right: .5rem; }
